<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Footer</title>
</head>

<body>
  <footer th:fragment="footer">
    <div class="container">
      <p>&copy; 연습용 중개사이트입니다. 해당 사이트에서 제공하는 정보는 모두 허구입니다.</p>
      <p>제작자 : 강찬혁 </p>
      <p>contact : 027620@naver.com </p>
      <p>https://github.com/ddk9597</p>
    </div>
  </footer>
</body>
  <script>
    // 메세지가 있는 경우 메세지 출력
    window.onload = function() {
            // Check if the message is present
            const message = /*[[${message}]]*/ '';
            if (message) {
                alert(message);
            }
        }
  </script>
</html>