<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/realtor/list/addList.css">
  <!-- 헤더, 푸터 스타일 -->
  <link rel="stylesheet" href="/css/realtor/common/realtorHeader.css">
  <title>가짜 매물 등록하기</title>
</head>

<body>

  <!-- 공통 헤더 -->
  <div th:replace="realtor/common/realtorHeader :: header"></div>

  <form action="realtor/list/addList" method="POST" id="listInfoForm">
    <div class="productInfoContainer">
      <span style="color: red;"> * 표시는 나에게만 보여지는 정보입니다.</span>

      <div>
        <p>법정동 입력</p>
        <input type="text" id="searchInput" name="locationTitle" placeholder="법정동명 검색" oninput="filterResults()">
        <div id="results" class="results"></div>
      </div>

      <div>
        <p>번지수 입력 <span style="color: red;">*</span> </p>
        <input type="text" name="addressNo" id="addressInput" placeholder="번지수 입력">
      </div>

      <div>
        <div>
          <p>매물 종류 입력</p>
          <input type="radio" id="typeStore" name="category" value="상가">
          <label for="typeStore">상가</label>

          <input type="radio" id="typeOffice" name="category" value="사무실">
          <label for="typeOffice">사무실</label>

          <input type="radio" id="typeBoth" name="category" value="상가 및 사무실">
          <label for="typeBoth">상가 및 사무실</label>
        </div>
      </div>

      <div>
        <p>공실여부 입력</p>
        <input type="radio" id="ownerIs" name="isTenant" value="1">
        <label for="ownerIs">공실 아님</label>

        <input type="radio" id="ownerNone" name="isTenant" value="0">
        <label for="ownerNone">현재 공실</label>
      </div>

      <div>
        <p>상호<span style="color: red;">*</span></p>
        <input type="text" name="shopName" id="productName" disabled placeholder="공실 아닌 상가인 경우에만 입력 가능">
      </div>

      <div>
        <p>연락처 입력 <span style="color: red;">*</span> </p>
        <input type="text" id="contactWho" placeholder="관련인 정보(임차인, 임대인 등)">
        <input type="text" id="contactPhone" placeholder="연락처 입력">
        <input type="text" name="contactInfo" id="contactInfo" readonly>
      </div>

      <div>
        <p>층수 입력</p>
        <input type="text" id="floorInput" name="floor" placeholder="지하일 경우 - 입력 ex:지하1층 -> -1"> 층
      </div>

      <div>
        <p>면적 입력</p>
        <input type="text" name="py" id="pyInput"> 평
        <div onclick="openCalcModal()" id="pyCalcBtn">면적 계산기 열기</div>

        <div id="modalBackground">
          <div id="pyCalcModal">
            <p>제곱미터 입력</p>
            <input type="text" id="meterSquare"> 제곱미터
            <div>
              <p>계산된 면적</p>
              <span id="pyCalcResult"></span> 평
            </div>
            <div onclick="applyCalculation()">입력하기</div>
          </div>
        </div>
      </div>

      <div class="budgetInputContainer">

        <div class="budgetBox">
          <div class="budgetInput">
            <p>권리금 입력 <span style="color: red;">*</span> </p>
            <div><input type="text" class="budget" id="premium"> &nbsp; 만원</div>
            <input type="hidden" class="formattedBudget" name="premium" id="premiumInput">
          </div>

          <div class="budgetInput">
            <p>보증금 입력</p>
            <div><input type="text" class="budget" id="deposit"> &nbsp; 만원</div>
            <input type="hidden" class="formattedBudget" name="deposit" id="depositInput">
          </div>
        </div>

        <div class="budgetBox">
          <div class="budgetInput">
            <p>월세 입력</p>
            <div><input type="text" class="budget" id="rent"> &nbsp; 만원</div>
            <input type="hidden" class="formattedBudget" name="rent" id="rentInput">
          </div>

          <div class="budgetInput">
            <p>관리비 입력</p>
            <div><input type="text" class="budget" id="adminCost"> &nbsp; 만원</div>
            <input type="hidden" class="formattedBudget" name="adminCost" id="adminCostInput">
          </div>
        </div>

        <div>
          <p>기타 매물 특이사항 입력 <span style="color: red;">*</span> </p>
          <textarea name="note" rows="4" cols="50" placeholder="매물 특이사항을 입력해 주세요" id="noteInput"></textarea>
        </div>

        <div></div>
          <p>고객에게 보여지는 매물 특이사항 입력 </p>
          <textarea name="noteForCustomer" rows="4" cols="50" placeholder="고객에게 보여질 매물의 특이사항을 입력해 주세요."
          id="noteForCustomerInput"></textarea>
        </div>

        <button id="prdInfoRealSubmit" type="submit"> 작성 완료 및 사진 등록 </button>
      </div>

  </form>
  <!-- 매물정보를 보내는 form 태그 종료 -->

  <br>







  </div>

  </div>




  <!-- 공통 푸터 -->
  <div th:replace="realtor/common/realtorFooter :: footer"></div>

</body>
<script src="/js/realtor/list/addList.js"></script>

</html>