<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가짜 매물 목록 리스트</title>
</head>
<body>
  
  
  <header>
    <!-- 매물 목록 고정 헤더 -->
    <div>
      <div onclick="toRealtorMain()">메인</div>
      <div onclick="toAllList()">전체매물보기</div>
      <div onclick="toRealtorRequest()">임대 임차 의뢰</div>
      <div></div>
    </div>
  </header>


  <script src="/js/realtor/list/list.js"></script>
</body>
</html>