<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/realtor/list/listMain.css">
  <!-- 헤더 스타일 -->
  <link rel="stylesheet" href="/css/realtor/common/realtorHeader.css">

  <title>가짜 매물 목록 리스트</title>
</head>

<body>

  <!-- 공통 헤더 -->
  <div th:replace="realtor/common/realtorHeader :: header"></div>

  <!-- list 전용 상단네비게이션 바 -->
  <section id="listTopNav">
    <button> 금액별 </button>
    <button> 평형별 </button>
    <button> 종류별 </button>
    <button> 상세 필터 </button>
    <button> 검색하기 </button>
  </section>

  <!-- 메인 내용이 들어갈 자리 -->
  <div id="realtorListMainContent">

    <!-- 좌측 네비게이션바 -->
    <section id="listLeftNav">



    </section>

    <!-- 검색한 매물이 보여질 자릭 -->
    <section id="listSearchContent">


    </section>

  </div>
  <footer>
    <div class="container">
      <p>&copy; 2024 부동산 중개 사이트. 모든 권리 보유. 제작자 : 강찬혁 </p>
      <p>027620@naver.com</p>
    </div>
  </footer>

  
</body>
<script src="/js/realtor/list/listMain.js"></script>
  <!-- 헤더 js -->
  <script src="/js/realtor/common/realtorHeader.js"></script>
</html>