<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.kch.study.realtor.list.model.mapper.PrdListMapper">

	<insert id="addList">
		 INSERT INTO PRODUCT (
        PROPERTIES_NO, MEMBER_NO, LOCATION_TITLE, ADDRESS_NO, 
        SHOP_NAME, CATEGORY, CONTACT_INFO, FLOOR, PY, 
        PREMIUM, DEPOSIT, RENT, ADMIN_COST, NOTE, 
        AREA_CODE, IS_TENANT
    )
    VALUES (
        properties_no_seq.NEXTVAL, #{memberNo}, #{locationTitle}, #{addressNo}, #{shopName},
        #{category}, #{contactInfo}, #{floor}, #{py}, 
        #{premium}, #{deposit}, #{rent}, #{adminCost}, #{note}, 
        #{areaCode}, #{isTenant}
    )

	</insert>

</mapper>
