<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.kch.study.realtor.list.model.mapper.PrdListMapper">

	<insert id="addList">
		INSERT INTO PRODUCT (
		PROPERTIES_NO, MEMBER_NO,
		LOCATION_TITLE, ADDRESS_NO,
		SHOP_NAME, CATEGORY, CONTACT_INFO, FLOOR,
		PY,
		PREMIUM, DEPOSIT, RENT, ADMIN_COST, NOTE,
		AREA_CODE, IS_TENANT
		)
		VALUES (
		properties_no_seq.NEXTVAL, #{memberNo}, #{locationTitle},
		#{addressNo}, #{shopName},
		#{category}, #{contactInfo}, #{floor},
		#{py},
		#{premium}, #{deposit}, #{rent}, #{adminCost}, #{note},
		#{areaCode}, #{isTenant}
		)

	</insert>

	<insert id="addNoteForCustomer">
		INSERT INTO PRODUCT_NOTE (
		PROPERTIES_NO,
		NOTE_FOR_CUSTOMER
		) VALUES (
		#{thisProductNo}, #{noteForCustomer}
		)
	</insert>

	<select id="getThisProductNo">
		SELECT MAX(PROPERTIES_NO)
		FROM PRODUCT
		WHERE MEMBER_NO
		= #{memberNo}
	</select>

	<insert id="listUpPhoto">
		INSERT INTO PRODUCT_IMAGE (PROPERTIES_NO, IMAGE_LIST)
		VALUES (#{thisProductNo}, #{photoList})
	</insert>

	<select id="getDetailInfo">
		SELECT
		p.PROPERTIES_NO, p.MEMBER_NO, p.LOCATION_TITLE, p.ADDRESS_NO, p.CATEGORY, p.FLOOR,
		p.PREMIUM,	p.DEPOSIT,	p.RENT,	p.ADMIN_COST,	p.NOTE,
		pn.NOTE_FOR_CUSTOMER
		FROM
		PRODUCT p
		LEFT JOIN
		PRODUCT_NOTE pn
		ON
		p.PROPERTIES_NO = pn.PROPERTIES_NO
		WHERE
		p.PROPERTIES_NO = #{productNo}


	</select>

</mapper>
