<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kch.study.realtor.model.mapper.rMapper">

	<!-- 매물 목록 불러오는 기능 -->
	<select id="getProductList"
		resultType="com.kch.study.realtor.list.model.dto.ProductInfoDTO">
		SELECT PROPERTIES_NO, MEMBER_NO, LOCATION_TITLE,
		CATEGORY,
		FLOOR, PY, DEPOSIT, RENT, ADMIN_COST, IS_TENANT
		FROM PRODUCT p
		ORDER BY
		PROPERTIES_NO DESC
	</select>

	<!-- 매물에 맞는 사진 목록중 첫번째를 가져오는 쿼리 -->
	<select id="getPrdPhotoList">
		SELECT REGEXP_SUBSTR(IMAGE_LIST, '[^,]+', 1, 1) AS
		FIRST_IMAGE
		FROM PRODUCT_IMAGE
		WHERE PROPERTIES_NO = #{prdNo}
	</select>

	<select id="get15ProductList"
		resultType="com.kch.study.realtor.list.model.dto.ProductInfoDTO">
		SELECT PROPERTIES_NO, MEMBER_NO, LOCATION_TITLE,
		CATEGORY,
		FLOOR, PY, DEPOSIT, RENT, ADMIN_COST, IS_TENANT
		FROM PRODUCT p
		ORDER BY
		PROPERTIES_NO DESC
		FETCH FIRST 15 ROWS ONLY
	</select>

	<select id="getContactList"
		resultType="com.kch.study.realtor.contact.model.dto.ContactDTO">
		SELECT
		c.CONTACT_NO,
		c.NAME,
		c.PHONE,
		c.PRD_KIND,
		c.MAX_BUDGET,
		c.MAX_MONTH_PAY,
		c.MIN_PY,
		c.MAX_PY,
		c.LOCATION,
		c.MESSAGE,
		cp.REQUESTER,
		cp.CHECKER,
		cp.PROCESS, 
		rm.MEMBER_NAME
		FROM
		CONTACT c
		JOIN
		CONTACT_PROCESS cp ON c.CONTACT_NO = cp.CONTACT_NO
		LEFT JOIN
		REALTOR_MEMBER rm ON cp.CHECKER = rm.MEMBER_NO
	</select>

</mapper>
