<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kch.study.realtor.member.model.mapper.rMemberMapper">

    <select id="checkEmail" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM REALTOR_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <insert id="signUp">
        INSERT INTO REALTOR_MEMBER (MEMBER_KIND, MEMBER_EMAIL, MEMBER_PW, MEMBER_NAME)
        VALUES (#{memberKind}, #{memberEmail}, #{memberPw}, #{memberName})
    </insert>
    
    <!-- 인증 키를 AUTHKEY 테이블에 삽입 -->
    <insert id="insertAuthKey" parameterType="map">
        INSERT INTO AUTHKEY (MEMBER_EMAIL, AUTHKEY)
        VALUES (#{memberEmail}, #{authKey})
    </insert>

    <update id="updateAuthKey" parameterType="map">
        UPDATE AUTHKEY SET AUTHKEY = #{authKey}
        WHERE MEMBER_EMAIL = #{memberEmail}
    </update>

    <select id="checkAuthKey" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM AUTHKEY 
        WHERE MEMBER_EMAIL = #{memberEmail}
        AND AUTHKEY = #{authKey}
    </select>

	<select id="checkLoginEmail">
		SELECT COUNT(*) FROM REALTOR_MEMBER
		WHERE MEMBER_EMAIL = #{email}
	</select>
	
	 <select id="getStoredPassword" parameterType="String" resultType="String">
      	SELECT MEMBER_PW FROM REALTOR_MEMBER rm
		WHERE MEMBER_EMAIL = #{email}
    </select>
    
    <select id="getMemberNo">
		SELECT MEMBER_NO
		FROM REALTOR_MEMBER
		WHERE MEMBER_EMAIL = #{email}
    </select>

</mapper>
