<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contactList</title>
  <!-- 현재 페이지 스타일 -->
   <link rel="stylesheet" href="/css/realtor/contactList/contactList.css">

  <!-- 헤더 스타일 -->
  <link rel="stylesheet" href="/css/realtor/common/realtorHeader.css">
</head>

<body>

  <!-- 헤더 조각이 들어간 자리 -->
  <div th:replace="realtor/common/realtorHeader :: header"></div>


  <!-- 반복되는 요청 리스트 -->
  <h1>요청 목록</h1>

  <div class="request-list">
      <div class="request-item" th:each="request : ${requestList}">
          <div class="request-header">
              <h2 th:text="${request.name}"></h2>
              <span th:text="${request.phone}"></span>
          </div>
          <div class="request-details">
              <p><strong>매물 종류:</strong> <span th:text="${request.prdKind}"></span></p>
              <p><strong>최대 보증금:</strong> <span th:text="${request.maxBudget}"></span></p>
              <p><strong>최대 월세:</strong> <span th:text="${request.maxMonthPay}"></span></p>
              <p><strong>최소 면적:</strong> <span th:text="${request.minPy}"></span> 평 이상</p>
              <p><strong>최대 면적:</strong> <span th:text="${request.maxPy}"></span> 평 이하</p>
              <p><strong>선호 지역:</strong> <span th:text="${request.location}"></span></p>
              <p><strong>메시지:</strong> <span th:text="${request.message}"></span></p>
              <p><strong>회원 번호:</strong> <span th:text="${request.memberNo}"></span></p>
              <p><strong>접수 상태:</strong> <span th:text="${request.process}"></span></p>
          </div>
      </div>
  </div>
  

  <!-- 요청을 표시할 모달 -->


  <!-- realtor공용 푸터 -->
  <div th:replace="realtor/common/realtorFooter :: footer"></div>
</body>

<!-- 헤더 js -->
<script src="/js/realtor/common/realtorHeader.js"></script>

</html>