<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contactList</title>

  <!-- 헤더 스타일 -->
  <link rel="stylesheet" href="/css/realtor/common/realtorHeader.css">
</head>

<body>

  <!-- 헤더 조각이 들어간 자리 -->
  <div th:replace="realtor/common/realtorHeader :: header"></div>


  <h1>가짜 contactList입니다.</h1>


  <!-- realtor공용 푸터 -->
  <div th:replace="realtor/common/realtorFooter :: footer"></div>
</body>

<!-- 헤더 js -->
<script src="/js/realtor/common/realtorHeader.js"></script>

</html>