<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서울시내 공인중개사 검색기</title>
</head>
<body>
  <h1>서울시내 공인중개사 검색기</h1>

  업체명 : <input type="text" id="rOfficeName">
  <button>구 선택(강남구 등..)</button>
  대표 공인중개사 검색 : <input type="text" id="realtorName">


  <!-- 구 선택 모달 창 -->
  <div id="selectAreaModal">
    <div class="areaBtn"></div>
    <div class="areaBtn"></div>
    <div class="areaBtn"></div>
    <div class="areaBtn"></div>
    <div class="areaBtn"></div>
    <div class="areaBtn"></div>


  </div>
</body>
</html>