<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/realtor/member/join.css">
  <title>회원가입</title>
</head>
<body>
  <div class="container">
    <h1>회원가입</h1>
    <form id="signUpForm">
      <div class="form-group">
        <label for="username">회원 이름</label>
        <input type="text" id="memberName" name="memberName" required>
      </div>

      <div>
        <label for="userPhone">휴대폰 번호</label>
        <input type="number" id="userPhone" name="userPhone" required> <br>
        <span class="signUpMessage" id="userPhoneMessage">- 제외 숫자만 입력하세요</span>
      </div>

      <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" id="memberEmail" name="memberEmail" required>
        <span class="signUpMessage" id="emailMessage">사용 가능한 메일을 입력해 주세요(naver, gmail, hanmail)</span>
        <button type="button" id="sendAuthKey">이메일 인증 받기</button>
      </div>
      <!-- 이메일 인증 번호 입력하기 -->
      <div>
        <label for="emailCheck"><span>인증번호</span></label>
        <div>
          <input type="text" name="authKey" id="authKey" placeholder="인증번호를 입력해 주세요" maxlength="5" autocomplete="off">
          <button type="button" id="checkAuthKeyBtn">인증하기</button>
        </div>
        <!-- 인증번호 메세지 출력 -->
        <span class="signUpMessage" id="authKeyMessage"></span>
        <!-- 타이머 표시 -->
        <div id="timer" style="font-size: 20px; color: red; margin-top: 10px;"></div>
      </div>
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="memberPw" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">비밀번호 확인</label>
        <input type="password" id="confirm-password" name="confirmPw" required>
      </div>
      <!-- 회원 종류 -->
      <div class="form-group">
        <label for="memberKind">회원 종류</label>
        <select id="memberKind" name="memberKind" required>
          <option value="99">사이트 이용 목적을 선택해주세요</option>
          <option value="0">기존 임차인 : 가게 내놓고 싶어요</option>
          <option value="1">신규 임차인 : 매장을 구하고 싶어요</option>
          <option value="2">부동산 소유주 : 신규 임차인을 구하고싶어요</option>
          <option value="3">중개업 종사자 : 고객 유치 및 광고 등록</option>
        </select>
      </div>
      <button type="submit" class="btn">가입하기</button>
    </form>
  </div>


  <script src="/js/realtor/member/join.js"></script>
</body>
</html>
