<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/realtor/member/join.css">
  <title>회원가입</title>
</head>

<body>

  <h1>강찬혁의 가짜 부동산 사이트 회원 가입 페이지</h1>

  <div class="container">
    <h1>회원가입</h1>
    <form action="/realtor/member/signUp" method="post">
        <div class="form-group">
            <label for="username">회원 이름</label>
            <input type="text" id="username" name="memeberName" required>
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" name="memberEmail" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="memberPw" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">비밀번호 확인</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>

          <!-- 회원 종류 -->
          <div class="form-group">
            <label for="memberKind">회원 종류</label>
            <select id="memberKind" name="memberKind" required>
              <option value="0">기존 임차인</option>
              <option value="1">신규 임차인</option>
              <option value="2">부동산 소유주</option>
              <option value="3">중개업 종사자</option>
            </select>
          </div>
        <button type="submit" class="btn">가입하기</button>
    </form>
</div>

</body>

<script src="/js/realtor/member/join.js"></script>
</html>