<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 중개 사이트</title>
  <link rel="stylesheet" href="/css/rMain.css">

  <!-- 스와이퍼 css -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- 헤더 스타일 -->
  <link rel="stylesheet" href="/css/realtor/common/realtorHeader.css">
</head>

<body>

  <!-- 헤더 조각이 들어간 자리 -->
  <div th:replace="realtor/common/realtorHeader :: header"></div>

  <section id="home" class="hero">
    <div class="container">
      <h2><span style="color: orange;">빠른 중개</span>를 위해 <span style="color: orange;">직접</span> 문의해 주세요</h2>
      <p>최고의 중개사들이 고객님을 기다리고 있습니다</p>

    </div>
  </section>

  <section id="listings" class="listings">
    <h2>최신 매물 목록</h2>
    <div class="container">

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="product : ${productList}">
              <div class="productInfo">
                <div class="productImageContainer">
                  <div class="productImage">
                    <div th:each="image : ${product.imageList}">
                      <img th:src="@{/images/realtor/listPic/{thisImage}(thisImage=${image})}"
                        th:alt="'Product Image: ' + ${image}" style="max-width: 100%; max-height: 200px;" />
                    </div>
                  </div>
                </div>

                <div class="productTitleContainer">
                  <div class="productNo">
                    매물번호 : <span th:text="${product.propertiesNo}"></span>
                  </div>
                  <div class="productLocation">
                    매물 위치 : <span th:text="${product.locationTitle}"></span>
                  </div>
                </div>

                <div class="productInfoContainer">
                  <div class="productPhysicalInfo">
                    <div class="product">
                      전용면적 : <span th:text="${product.py}"></span> 평
                    </div>
                    <div class="productFloor">
                      층수 : <span th:text="${product.floor}"></span> 층
                    </div>
                    <div class="productType">
                      종류 : <span th:text="${product.category}"></span>
                    </div>
                  </div>

                  <div class="productCostInfo">
                    <div class="productDeposit">
                      보증금 : <span th:text="${product.deposit}"></span> 만원
                    </div>
                    <div class="productRent">
                      월세 : <span th:text="${product.rent}"></span> 만원
                    </div>
                    <div class="productAdminCost">
                      관리비 : <span th:text="${product.adminCost}"></span> 만원
                    </div>
                    <div class="productPremium">
                      권리금 : <span th:text="${product.premium == 0 ? '없음' : '있음'}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
        
        <!-- 네비게이션 버튼 -->
        <div class="swiperNavBtnContainer">
          <div class="swiper-button-next"> ▷ </div>
          <div class="swiper-button-prev">◁</div>
          
        </div>
        <!-- 페이지네이션 -->
      </div>

      <!-- <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

            <div class="test"> 1 </div>
            <div class="test"> 2 </div>
            <div class="test"> 3 </div>
            <div class="test"> 4 </div>

          </div>

        </div>

      </div> -->




    </div>
  </section>

  <section id="contact" class="contact">
    <div class="container">
      <h2>문의하기</h2>
      <form>
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required>
        <label for="message">메시지:</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit">전송</button>
      </form>
    </div>
  </section>

  <!-- realtor공용 푸터 -->
  <div th:replace="realtor/common/realtorFooter :: footer"></div>

  <!-- 이 사이트가 연습용 가짜 사이트임을 알리는 모달 설정 -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 style="color: red;">알림</h2>
      <p>이 사이트는 강찬혁의 가짜 사이트입니다. 실제 부동산 정보를 제공하지 않습니다.</p>
      <button id="dontShowToday">오늘 하루 열지 않기</button>

    </div>
  </div>>

</body>
<script src="/js/rMain.js"></script>
<!-- 헤더 js -->
<script src="/js/realtor/common/realtorHeader.js"></script>
<!-- 스와이퍼 js -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 5,
    spaceBetween: 1,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

</html>